/* Gotham */

@font-face {
	font-family: 'GothamSSm-BlackItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-BlackItalic.svg#GothamSSm-BlackItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-Black';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Black.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Black.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-Black.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-Black.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-Black.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-Black.svg#GothamSSm-Black') format('svg');
}

@font-face {
	font-family: 'GothamSSm-BoldItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-BoldItalic.svg#GothamSSm-BoldItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-Bold';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Bold.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Bold.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-Bold.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-Bold.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-Bold.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-Bold.svg#GothamSSm-Bold') format('svg');
}

@font-face {
	font-family: 'GothamSSm-BookItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-BookItalic.svg#GothamSSm-BookItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-Book';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Book.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Book.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-Book.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-Book.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-Book.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-Book.svg#GothamSSm-Book') format('svg');
}

@font-face {
	font-family: 'GothamSSm-LightItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-LightItalic.svg#GothamSSm-LightItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-Light';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Light.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Light.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-Light.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-Light.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-Light.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-Light.svg#GothamSSm-Light') format('svg');
}

@font-face {
	font-family: 'GothamSSm-MediumItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-MediumItalic.svg#GothamSSm-MediumItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-Medium';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Medium.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-Medium.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-Medium.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-Medium.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-Medium.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-Medium.svg#GothamSSm-Medium') format('svg');
}

@font-face {
	font-family: 'GothamSSm-XLightItalic';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-XLightItalic.svg#GothamSSm-XLightItalic') format('svg');
}

@font-face {
	font-family: 'GothamSSm-XLight';
	src: url('//shared.lebronjames.com/fonts/GothamSSm-XLight.eot');
	src: url('//shared.lebronjames.com/fonts/GothamSSm-XLight.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/GothamSSm-XLight.woff2') format('woff2'), url('//shared.lebronjames.com/fonts/GothamSSm-XLight.woff') format('woff'), url('//shared.lebronjames.com/fonts/GothamSSm-XLight.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/GothamSSm-XLight.svg#GothamSSm-XLight') format('svg');
}

/* Midnight Chalker */

@font-face {
	font-family: 'MidnightChalker-Regular';
	src: url('//shared.lebronjames.com/fonts/MidnightChalker-Regular.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Regular.otf') format('opentype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Regular.woff') format('woff'), url('//shared.lebronjames.com/fonts/MidnightChalker-Regular.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Regular.svg#MidnightChalker-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MidnightChalker-Italic';
	src: url('//shared.lebronjames.com/fonts/MidnightChalker-Italic.eot?#iefix') format('embedded-opentype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Italic.otf') format('opentype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Italic.woff') format('woff'), url('//shared.lebronjames.com/fonts/MidnightChalker-Italic.ttf') format('truetype'), url('//shared.lebronjames.com/fonts/MidnightChalker-Italic.svg#MidnightChalker-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}